Repository dattaprasad-r-ekavade/datadrip: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix, prettier --write

feat: add Sprint 1 setup files and scripts
  SETUP.md
  auth.config.ts
  scripts/create-user.ts
Due: eslint --max-warnings=0 --fix, prettier --write

chore: remove Husky
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

feat: switch from magic link to email/password authentication
  app/(auth)/login/verify/page.tsx
  auth.ts
  components/auth/login-form.tsx
  lib/auth/options.ts
  lib/email/templates/magic-link.ts
  lib/env.ts
  middleware.ts
Due: eslint --max-warnings=0 --fix, prettier --write

feat: update login form description and button text; add bcryptjs dependencies
  components/auth/login-form.tsx
  package.json
  tsconfig.json
Due: eslint --max-warnings=0 --fix, prettier --write

chore: add dev.db to .gitignore to prevent committing local database files
  .gitignore
Due: none

feat: implement agency and client management features
  app/(protected)/dashboard/clients/page.tsx
  app/(protected)/dashboard/settings/client-page.tsx
  app/(protected)/dashboard/settings/page.tsx
  app/api/agencies/[id]/route.ts
  app/api/agencies/route.ts
  app/api/clients/[id]/route.ts
  app/api/clients/route.ts
  app/layout.tsx
  auth.config.ts
  components/forms/agency-form.tsx
  components/forms/client-form.tsx
  components/ui/pagination.tsx
  components/ui/timezone-selector.tsx
  components/ui/toast.tsx
  components/ui/toaster.tsx
  hooks/use-toast.ts
  lib/services/agency.ts
  lib/services/client.ts
  middleware.ts
  package-lock.json
  package.json
Due: eslint --max-warnings=0 --fix, prettier --write

feat: implement OAuth integration for Google Ads and Meta, add client sync functionality
  app/(protected)/dashboard/clients/page.tsx
  app/api/cron/refresh-tokens/route.ts
  app/api/integrations/google-ads/authorize/route.ts
  app/api/integrations/google-ads/callback/route.ts
  app/api/integrations/meta/authorize/route.ts
  app/api/integrations/meta/callback/route.ts
  app/api/sync/clients/[id]/route.ts
  lib/env.ts
  lib/integrations/google-ads.ts
  lib/integrations/meta.ts
  lib/integrations/oauth-state.ts
  lib/prisma.ts
  lib/security/encryption.ts
  lib/services/sync.ts
Due: eslint --max-warnings=0 --fix, prettier --write

Fix Vercel build issues for Turso deployment
  app/invite/[token]/page.tsx
  app/pricing/page.tsx
  components/auth/login-form.tsx
  eslint.config.mjs
  lib/prisma.ts
  lib/services/analytics.ts
  next.config.ts
  package-lock.json
  package.json
  prisma/seed.ts
Due: eslint --max-warnings=0 --fix, prettier --write

Fix TypeScript implicit any type error in integrations page
  app/(protected)/admin/integrations/page.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

Fix Prisma type import for Vercel deployment
  app/(protected)/admin/integrations/page.tsx
  package.json
Due: eslint --max-warnings=0 --fix, prettier --write

Make DATABASE_URL optional when using Turso
  lib/env.ts
Due: eslint --max-warnings=0 --fix, prettier --write

Add demo credential quick-fill buttons to login form
  components/auth/login-form.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

Add Turso database setup script and documentation
  TURSO-SETUP.md
  scripts/setup-turso.ts
Due: eslint --max-warnings=0 --fix, prettier --write

Add complete Turso migration SQL file
  turso-complete-migration.sql
Due: none

feat: Add Privacy Policy, Security, and Terms of Service pages
  app/privacy/page.tsx
  app/security/page.tsx
  app/terms/page.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

feat: Enhance Admin and Billing pages with agency management and super admin features
  app/(protected)/admin/page.tsx
  app/(protected)/dashboard/billing/page.tsx
Due: eslint --max-warnings=0 --fix, prettier --write

feat: integrate Cashfree Payment Gateway and add free beta activation bypass option
  app/(protected)/dashboard/billing/page.tsx
  app/api/billing/checkout/route.ts
  app/api/billing/free-activate/route.ts
  app/api/billing/invoice/[id]/route.ts
  app/api/billing/route.ts
  app/api/billing/verify/route.ts
  app/api/billing/webhook/route.ts
  app/api/insights/generate/route.ts
  lib/env.ts
  lib/services/cashfree.ts
  prisma/schema.prisma
Due: eslint --max-warnings=0 --fix, prettier --write

security: patch vulnerable dependencies using npm audit fix
  package-lock.json
Due: prettier --write

Path conditions:
  eslint --max-warnings=0 --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,json,md,css})
